# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/
.env
ragas_env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (optional – keep datasets out of Git)
data/
*.csv
*.xlsx

# Models
*.pkl
*.joblib

#api keys
chatbot_gpt_API_key.txt
Neo4j-07d65a9d-Created-2026-06-02.txt